@charset "UTF-8";
/*Основной файл*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: skyblue;
}
